*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.spyderproject

# My stuff
*.job.o*
*.pbs.o*
*.job.po*

# Simulation results
trajs
starting_states
models
logs

# Specific stuff
tProb.mtx
ntl9.mtx
Gens.h5

# Don't want any jobs or logs
*.job
*.log

# Don't include matrices or numpy (gens)
*.mtx
*.npy

# Don't need submit scripts
submit*.sh

# Don't include pickl results from tmat-accel
*result-*-*.pickl
*quant-projection*.pickl

# Don't include movie frames
*centroid-movie*
*projection-movie*

*starting_state.int

*h-run-*
